@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/css/StyleLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Hãy đăng nhập bằng tài khoản Admin của bạn</h3>
            <div class="main">
                @*Login bằng Tk Facebook or Google*@

                @*<h3>Please Log In, or <a href="#">Sign Up</a></h3>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                    </div>
                </div>
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>*@

                <form role="form">
                    <div class="form-group">
                        <label for="inputUsernameEmail">Tên tài khoản hoặc email</label>
                        <input type="text" class="form-control" id="inputUsernameEmail">
                    </div>
                    <div class="form-group">
                        <a class="pull-right" href="#">Đổi mật khẩu?</a>
                        <label for="inputPassword">Mật khẩu</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox">
                            Lưu mật khẩu
                        </label>
                    </div>
                    <button type="submit" class="btn btn btn-primary">
                        Log In
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
