@model DoAnCoSo1.Models.Tintuc

@{
    ViewData["Title"] = "Admin - Thêm tin tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM TIN TỨC</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemTintuc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tieude" class="control-label">Tiêu đề</label>
                <input asp-for="Tieude" class="form-control" required />
                <span asp-validation-for="Tieude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTheloai" class="control-label">Thể loại</label>
                <select asp-for="MaTheloai" class="form-control" asp-items="ViewBag.MaTheloai"></select>
            </div>
            <div class="form-group">
                <label asp-for="Anhbia" class="control-label">Link ảnh bìa</label>
                <input asp-for="Anhbia" class="form-control" required />
                <span asp-validation-for="Anhbia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label">Nội dung</label>
                <textarea asp-for="Noidung"></textarea>
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Thêm</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Home" asp-controller="Admin">Quay lại Dashboard</a>
</div>
