@{
    ViewData["Title"] = "Giới thiệu";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<p>Website này là sản phẩm đồ án cơ sở được phát triển bởi Long và Nhân.</p>
<p>Website này được phát triển bằng ASP.NET Core MVC.</p>
