@{
    ViewData["Title"] = "Liên hệ";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<address>
    Trường đại học Công nghệ TPHCM<br />
    475A Điện Biên Phủ<br />
    <abbr title="Phone">Long:</abbr>
    09 2625 2667 - 
    <abbr title="Phone">Nhân:</abbr>
    09 2444 4740
</address>

<address>
    <strong>Facebook Nhân:</strong> <a href="https://www.facebook.com/dier0298">Nhân Nguyễn</a><br />
    <strong>Facebook Long:</strong> <a href="https://www.facebook.com/vo.b.long">Long January</a>
</address>
