
@{
    ViewData["Title"] = "AdminNewsDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>@Model.TieuDe</h3>
<p>Ngày đăng: @Model.NgayDang</p>
<hr />
<b>@Model.LoiMoDau</b>
@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.NoiDung))

