<!DOCTYPE html>
<html lang="en">
<head>
    <title> NewsFeed </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Banner và Menu -->
    <div class="container">
        <div class="banner-menu">
            <div class="row">
                <!-- Banner -->
                <div class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @await Component.InvokeAsync("Banner")
                </div> <!-- Hết row banner -->
                <!-- Menu -->
                <div class="menu col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="navbar-expand-lg">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="/">TRANG CHỦ</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    @await Component.InvokeAsync("Menu")
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div> <!-- Hết row menu -->
            </div> <!-- Hết row tổng -->
        </div> <!-- Hết banner - menu -->
    </div> <!-- Hết container -->
    <!-- Quảng cáo -->
    <div class="container">
        <div class="ads">
            Quảng cáo
        </div>
    </div> <!-- Hết container -->
    <!-- Body trang web -->
    <div class="container">
        <div class="content">
            <div class="row">
                <!-- Render Body -->
                <div class="col-sm-12 col-lg-8 col-md-8">
                    <div class="rendered-body">
                        @RenderBody()
                    </div>
                </div>
                <div class="ads-body col-sm-12 col-lg-4 col-md-4">
                    Quảng cáo
                </div>
            </div>
        </div>
    </div>
    <!-- Footer trang web -->
    <div class="footer">
        <p>footer</p>
    </div>
</body>
</html>