@model IEnumerable<DoAnCoSo1.Models.Tintuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>TIN TUC</h2>
@foreach (var news in Model) {
    <h2>@news.Tieude</h2>
    @news.Noidung
}

