@model DoAnCoSo1.Models.Tintuc

@{
    ViewData["Title"] = "ThemTintuc";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>THÊM TIN TỨC</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemTintuc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tieude" class="control-label">Tiêu đề</label>
                <input asp-for="Tieude" class="form-control" />
                <span asp-validation-for="Tieude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label">Nội dung</label>
                <input asp-for="Noidung" class="form-control" />
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTheloai" class="control-label">Thể loại</label>
                <select asp-for="MaTheloai" class ="form-control" asp-items="ViewBag.MaTheloai"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
