* {
    margin: 0;
    padding: 0;
}

.break-line p {
    margin-left: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.news {
    display: inline-flex;
    height: 147px;
    margin-bottom: 15px;
}

.news img {
    height: 147px;
    margin-bottom: 25px;
    width: 100%;
}

.break-line {
    background: grey;
    height: 35px;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    border-radius: 10px 0 0;
}

.top-1-news p {
    margin-bottom: 0;
}

.ads {
    background: grey;
    height: 100px;
    margin: 10px 0;
}

.top-1-news img {
    width: 100%;
}

.top-1-news {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
    width: 500px;
}

.banner-menu {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: red;
    height: 200px;
}

.banner {
    width: 1110px;
    height: 145px;
}

.content {
    font-family: 'Open Sans Condensed', sans-serif;
}

.footer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: black;
    height: 100px;
    color: white;
}

.top-1-news {
    height: auto
}

.menu .navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
}

.menu .navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: larger;
    padding: 0 25px;
}

.top-1-news h2 {
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}

.top-1-news a:hover {
    text-decoration: none;
}
