* {
	margin: 0;
	padding: 0;
}

.banner-menu {
    background: red;
    height: 200px;
}

.banner {
    height: 144px;
}

.content {
	height: auto;
}

.footer {
	background: black;
	height: 100px;
	color: white;
}

.ads-left {
    background: green;
}

.ads-right {
    background: green;
}