* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.banner img {
    width: 1110px;
    height: 145px;
}

.break-line p {
    margin-left: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.news {
    display: inline-flex;
    height: 147px;
    margin-bottom: 15px;
}

.news img {
    height: 120px;
    margin-bottom: 3px;
    width: 100%;
}

.news h4 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 22px;
}

.news p {
    margin-bottom: 0;
    font-size: 14px;
}

.break-line {
    background: grey;
    height: 35px;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    border-radius: 10px 0 0;
}

.ads {
    height: 100px;
    margin: 10px 0;
}

.top-1-news img {
    width: 100%;
}

.top-1-news {
    margin-bottom: 15px;
    width: 500px;
    position: relative;
}

.banner-menu {
    height: 200px;
}

.banner {
    width: 1110px;
    height: 145px;
}

.footer {
    background: black;
    height: 100px;
    color: white;
}

.menu .navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
}

.menu .navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-size: large;
    padding: 0 25px;
}

.top-1-news h2 {
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    position: absolute;
    top: 290px;
    left: 15px;
}

.top-1-news a:hover {
    text-decoration: none;
}
